{% extends "base.html" %}


{% block content %}
<!-- Pie Chart -->
<meta id="chart1-data" data="{{ chart1_data}}">
<meta id="chart2-data" data="{{ chart2_data}}">
<meta id="chart3-data" data="{{ chart3_data}}">
<meta id="chart4-data" data="{{ chart4_data}}">
<script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js')}}"></script>
<script>

    // -------------------------------------------------
    // Prepare data for each chart
    var chart1_raw = $("#chart1-data").attr("data");
    var chart2_raw = $("#chart2-data").attr("data");
    var chart3_raw = $("#chart3-data").attr("data");
    var chart4_raw = $("#chart4-data").attr("data");

    chart1_json = JSON.parse(chart1_raw.replace(/'/g, '"'))
    chart2_json = JSON.parse(chart2_raw.replace(/'/g, '"'))
    chart3_json = JSON.parse(chart3_raw.replace(/'/g, '"'))
    chart4_json = JSON.parse(chart4_raw.replace(/'/g, '"'))

    // Add column names
    chart1_data = [['Rating', 'Frequency'],]
    chart2_data = [['Genre', 'Frequency'],]
    chart3_data = [['Decade', 'Frequency'],]
    chart4_data = [['Genre', 'Avg Rating'],]


    for (var key in chart1_json) {
        chart1_data.push([key, chart1_json[key]])
    }

    for (var key in chart2_json) {
        chart2_data.push([key, chart2_json[key]])
    }

    for (var key in chart3_json) {
        chart3_data.push([key, chart3_json[key]])
    }

    for (var key in chart4_json) {
        chart4_data.push([key, chart4_json[key]])
    }

    // -------------------------------------------------
    // Pie chart 
    google.charts.load('current', { packages: ['corechart'] });
    google.charts.setOnLoadCallback(drawPieChart);

    function drawPieChart() {
        var pieChartData = google.visualization.arrayToDataTable(chart3_data);

        var options = {
            title: 'Distribution of rated movie across diferrent decades',
            titleTextStyle: {
                color: '#000000',
                // fontName: ,
                fontSize: 15,
                bold: false,
            },
            backgroundColor: { fill: 'transparent' },
        };

        var chart = new google.visualization.PieChart(
            document.getElementById('piechart')
        );

        chart.draw(pieChartData, options);
    }

    // -------------------------------------------------
    // Histogram
    google.charts.load('current', { packages: ['corechart', 'bar'] });
    google.charts.setOnLoadCallback(drawHistogram);

    function drawHistogram() {
        var data = google.visualization.arrayToDataTable(chart1_data);

        var materialOptions = {
            chart: {
                title: 'Distribution of your ratings',
            },
            titleTextStyle: {
                color: '#000000',
                // fontName: ,
                fontSize: 15,
                bold: false,
            },
            hAxis: {
                title: 'Rating',
                minValue: 0.5,
                ticks: [1, 2, 3, 4, 5]

            },
            vAxis: {
                title: 'Frequency',
            },
            bars: 'vertical',
            chartArea: {
                backgroundColor: {
                    fill: 'transparent',
                },
            },
            backgroundColor: {
                fill: 'transparent',
            },
            legend: { position: 'none' },
        };
        var materialChart = new google.charts.Bar(
            document.getElementById('chart_div')
        );
        materialChart.draw(data, google.charts.Bar.convertOptions(materialOptions));
    }

    // -------------------------------------------------
    // Horizontal Bar Chart
    google.charts.load('current', { packages: ['corechart', 'bar'] });
    google.charts.setOnLoadCallback(drawHorizontalBar);
    function drawHorizontalBar() {
        var data = google.visualization.arrayToDataTable(chart2_data);

        var materialOptions = {
            chart: {
                title: 'Number of ratings per genre',
            },
            titleTextStyle: {
                color: '#000000',
                // fontName: ,
                fontSize: 15,
                bold: false,
            },
            hAxis: {
                title: 'Number of Ratings',
                minValue: 0,
            },
            vAxis: {
                // title: 'City',
                minValue: 0,
            },
            bars: 'horizontal',
            chartArea: {
                backgroundColor: {
                    fill: 'transparent',
                },
            },
            backgroundColor: {
                fill: 'transparent',
            },
            legend: { position: 'none' },
        };
        var materialChart = new google.charts.Bar(
            document.getElementById('rating-per-genre')
        );
        materialChart.draw(data, google.charts.Bar.convertOptions(materialOptions));
    }

    // -------------------------------------------------
    // Bar Char - Average ratring per genre
    google.charts.load('current', { packages: ['corechart', 'bar'] });
    google.charts.setOnLoadCallback(drawAvgRatingPerGenreChart);

    function drawAvgRatingPerGenreChart() {
        var data = google.visualization.arrayToDataTable(chart4_data);

        var materialOptions = {
            chart: {
                title: 'Average rating per genre',
            },
            titleTextStyle: {
                color: '#000000',
                // fontName: ,
                fontSize: 15,
                bold: false,
            },
            hAxis: {
                title: 'Average rating',
                minValue: 0,
            },
            vAxis: {
                // title: 'City',
                minValue: 0,
            },
            bars: 'horizontal',
            chartArea: {
                backgroundColor: {
                    fill: 'transparent',
                },
            },
            backgroundColor: {
                fill: 'transparent',
            },
            legend: { position: 'none' },
        };
        var materialChart = new google.charts.Bar(
            document.getElementById('avg-per-genre')
        );
        materialChart.draw(data, google.charts.Bar.convertOptions(materialOptions));
    }

</script>
<div class="container">
    <h3>About your ratings</h3>
    <p>You have rated {{n_rated_movies}} movies - <a href="/profile/">see your rating</a></p>
    <div class="about-your-ratings">
        <div class="row">
            <div class="col-md-5 offset-1 rounded">
                <div id="chart_div" style="width:100%; height:300px"></div>
            </div>
            <div class="col-md-5 offset-1 rounded">
                <div id="piechart" style="width:100%; height:300px"></div>
            </div>
        </div>
        <div class=" row">
            <div class="col-md-5 offset-1 rounded">
                <div id="rating-per-genre" style="width:100%; height:500px"></div>
            </div>
            <div class="col-md-5 offset-1 rounded">
                <div id="avg-per-genre" style="width:100%; height:500px"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}